# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
media/

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Pycharm
.idea/
    